@model PatientManagementSystem.Web.Models.MedicalRecordEntryViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MedicalRecordEntryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeEntry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeEntry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonForVisit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonForVisit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExaminationScope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExaminationScope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecommendedVisitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecommendedVisitDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { patientId = TempData["patientId"] })
        </div>
    }
</div>
