@model IEnumerable<PatientManagementSystem.Web.Models.MedicalRecordEntryViewModel>
<h4>@TempData["patientFirstName"] @TempData["patientLastName"] Medical Record</h4>
<p>
    @Html.ActionLink("Create New", "Create", new { patientId = TempData["patientId"] })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeEntry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReasonForVisit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExaminationScope)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecommendedVisitDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeEntry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReasonForVisit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExaminationScope)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecommendedVisitDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Html.ActionLink("Back to patient", "Details", "Patients", new { id = TempData["patientId"] }, null)
