@model PatientManagementSystem.Web.Models.TreatmentViewModel

@{
    ViewBag.Title = $"Treatment #{Model.Id}";
}

    <h2>Treatment #@Model.Id</h2>

<div>
    <h4>Treatment #@Model.Id for Medical Record Entry #@TempData["medicalRecordId"] </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recommendations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recommendations)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id, medicalRecordId = TempData["medicalRecordId"] }) |
    @Html.ActionLink("Back to List", "Index", new { medicalRecordId = TempData["medicalRecordId"] })
</p>
