@model IEnumerable<PatientManagementSystem.Web.Models.TreatmentViewModel>

@{
    ViewBag.Title = $"Treatments for Medical Record Entry #{TempData["medicalRecordId"]}";
}

    <h2>Treatments for Medical Record Entry #@TempData["medicalRecordId"]</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { medicalRecordId = TempData["medicalRecordId"] })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recommendations)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recommendations)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, medicalRecordId = TempData["medicalRecordId"] }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id, medicalRecordId = TempData["medicalRecordId"] }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.ActionLink($"Back to Medical Record Entry #{TempData["medicalRecordId"]}", "Details", "MedicalRecords", new { id = TempData["medicalRecordId"], patientId = TempData["patientId"] }, null)