@model IEnumerable<PatientManagementSystem.Web.Models.ExamFindingsViewModel>

@{
    ViewBag.Title = $"Exam Findings for # {TempData["medicalRecordId"]}";
}

<h2>Exam Findings for Medical Record entry #@TempData["medicalRecordId"]</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { medicalRecordId = TempData["medicalRecordId"] })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Positive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelevantNegative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Abnormal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Positive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelevantNegative)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Abnormal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id, medicalRecordId = item.MedicalRecordEntryViewModel.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id, medicalRecordId = item.MedicalRecordEntryViewModel.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
